# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info
*~

# IDE files (e.g. Jupyter Notebook, PyCharm)
.ipynb_checkpoints
.idea

# Setuptools distribution and build folders.
/dist/
/build/

# folders
models/
models2/
results/
